body {
  background: rgb(180, 16, 16);
}
p {
  color: black;
  background-color: black;
  text-align: center;
  text-color: #ffff
}
h1 {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
